/* ---- Call to Action -----*/
/* .cta {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(4,9,30,0.7),rgb(4,9,30,0.7));
    background-position: center;
    background-size: cover;
    position: relative;
} */


.text-box h1 {
    text-align: center;
    text-transform: capitalize;
    color: blue;
    font-size: 30px;
    padding-top: 30px;
}

.text-box p {
    text-indent: 50px;
    text-align: center;
    padding: 20px 100px;
    font-size: 18px;

}

/*-------- Course -------*/
.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.course h1 {
    font-size: 36px;
    font-weight: 600;
    color: blue;
}

.course p {

    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;


}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}

.course-col {
    flex-basis: 31%;
    background: #ebd0d0;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 10px;
    box-sizing: border-box;
    transition: 0.5s;
}

.course h6 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col p {
    color: #777;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(140, 157, 216, 0.918);

}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

.left-side {
    flex: 1;
    padding: 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;

}

.right-side {
    flex: 1;

}

/* ---- Call to Action -----*/
/* .product {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(4,9,30,0.7),rgb(4,9,30,0.7));
    background-position: center;
    background-size: cover;
    position: relative;
} */

.engine-oil p {
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: initial;

}

.engine-oil h1 {
    font-size: 36px;
    font-weight: 600;
    color: blue;
    text-align: initial;
}

.business_promotion h1 {
    font-size: 36px;
    font-weight: 600;
    color: blue;
    text-align: initial;
}

.business_promotion ul {
    font-size: 18px;
    font-weight: 600;
    text-align: initial;
}

.business_promotion p {
    /* font-size: 18px;
    font-weight: 600; */
    text-align: initial;
}

.business_promotion li {
    text-align: right;
    color: rgb(47, 59, 80);
}

/* online buy */
.btn {
    display: inline-block;
    text-decoration: none;
    color: rgb(191, 247, 191);
    border: 1px solid rgb(47, 59, 80);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid rgb(10, 2, 2);
    background: red;
    transition: 1s;
}



/* Dropdown */
.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;

}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;

}

.dropdown-menu>li:hover>.dropdown-submenu {
    display: block;

}

/* 
.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 2rem;
    padding: 0.5rem 10rem;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
} */

.motor-header h1 {
    letter-spacing: 1px;
    font-weight: 800;
    color: blue;
    text-align: initial;
    padding-left: 90px;

}

.motor-header p {

    font-family: Arial, Helvetica, sans-serif;
    text-align: initial;
    padding-left: 90px;
    padding-right: 90px;
}

.product_intro .inner.right {
    box-shadow: -10px -10px 0 rgb(255 255 255 / 50%);
}

.product_intro .inner {
    background: rgba(4, 4, 4, 0.4);
    border-radius: 20px;
    padding: 40px 30px;
    box-shadow: 10px 10px 0 rgb(255 255 255 / 50%);
    transition: box-shadow 450ms ease-in-out 0s;
    color: #fff;
}



.col_icon i {
    padding: 50px;

    transition: transform .2s;

    margin: 0 auto;
}



.auto h1 {
    text-align: center;
    color: darkblue;
    font-weight: 800;
}

.auto p {
    padding: 0px 80px;

    font-family: Arial, Helvetica, sans-serif;
}

.bg-light {
    background-color: black !important;
}


.industrial {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 100px;
    left: 16px;
    font-size: 20px;
    font-weight: 800;
}

.distribution{
    min-height: 100vh;
    width: 100%;
   
    background-position: center;
    background-size: cover;
    position: relative;
}